{{ partial "head" . }}

<div class="single-page">
  {{ partial "nav" . }}
</div>

<div class="page documentation">
    <div class="side-menu" id="side-menu">

    {{ $currentNode := .}}


    <ul class="side-menu-list" data-parenturl="{{.Permalink}}" style="display: none;">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <li class="side-menu__item{{if $currentNode.HasMenuCurrent "main" . }} active{{end}}{{if $currentNode.IsMenuCurrent "main" . }} active{{end}}">
                    <a href="{{.URL}}" >
                        {{ .Pre }}
                        <span class="side-menu__item__link__text">{{ .Name }}</span>
                    </a>
                </li>
                <ul class="sub-menu">
                    {{ range .Children }}
                                  <li class="side-menu__sub__item{{if $currentNode.IsMenuCurrent "main" . }} active{{end}} {{if (eq .Name "Reference") }}{{if (in $currentNode.URL "/reference/") }} active {{ end }}{{ end }}">
            <a id="menu-link-{{.URL}}" class="side-menu__sub__item__text" href="{{.URL}}" data-url="{{.URL}}"#>
              {{ .Name }}</a>
          </li>
                  {{ end }}
                </ul>
            {{ else }}
                <li>
                    <a href="{{.URL}}">
                        <span class="side-menu__item__link__text">{{ .Name }}</span>
                    </a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
      
    
    </div>
    <div class="content">

      <h1 class="content-header">{{ .Title }}</h1>

      <div class="markdowned">
        
         {{ range $key, $value := .Site.Taxonomies.tags }}
          <ul>
            <li><a href={{ $key | urlize }}>{{ $key }} ({{ len $value }})</a></li>
          </ul>
        {{ end }}
 
      </div>
      
      {{ partial "footer" .}}
      
    </div>
</div>

</body>
</html>

